.container{
    
    margin-left:50px;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;

}
.parallax{
    background: url('../images/tree.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
   
}
.parallax2 {
    min-height: 500px;

    background: transparent;
}
.info{
    z-index: 2;
    position: relative;
}